{% extends 'user_base.html' %}
{% load static %}

{% block content %}

<div class="card mb-3" style="max-width: 700px; left: 25%; top: 15vh;">
	<div class="row no-gutters">
		<div class="col-md-6">
			<img src="{% static "login.jpg" %}" class="card-img form-image" alt="register_image">
		</div>
		<div class="col-md-6">
			<div class="card-body login-form">
				<h2 class="card-title form-title" style=" text-align: center;">Login</h2>
				<p class="card-text">
					<form method="POST">
						{% csrf_token %}
						<div class="input-container">
							<div class="form-input">
								{{ login_form.username }}
							</div>
							<div class="form-input">
								{{ login_form.password }}
							</div>
						</div>
						<div class="form-lower-text">
							<button class="btn btn-primary" type="submit">Login</button>
					</form>
				</p>
				<p class="card-text">
					<small class="text-muted">Don't have an account?
						<a href="{% url 'register' %}">Create an account</a></p>
			</div>
		</div>
	</div>
</div>


{% endblock %}