{% extends 'user_base.html' %}
{% load static %}

{% block content %}
<div class="card mb-3" style="max-width: 700px; left: 25%; top: 15vh;">
	<div class="row no-gutters">
		<div class="col-md-6">
			<img src="{% static "register.jpg" %}" class="card-img form-image" alt="register_image">
		</div>
		<div class="col-md-6">
			<div class="card-body">
				<h2 class="card-title form-title" style=" text-align: center;">Register</h2>
				<p class="card-text">
					<form method="POST">
						{% csrf_token %}
						<div class="input-container">
							<div class="form-input">
								{{ register_form.username }}
							</div>
							<div class="form-input">
								{{ register_form.email }}
							</div>
							<div class="form-input">
								{{ register_form.password1 }}
							</div>
							<div class="form-input">
								{{ register_form.password2 }}
							</div>
						</div>
						<div class="form-lower-text">
							<button class="btn btn-primary" type="submit">Register</button>
					</form>
				</p>
				<p class="card-text">
					<small class="text-muted">If you already have an account,
						<a href="{% url 'login' %}">login</a> instead.</small></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}