.container {
    position: fixed;
    top: 15%;
    left: 35%;
}

.form-image {
    object-fit: cover;
    width: 100%;
    height: 550px; 
  }

.form-title {
    padding-top: 5vh;
}

.input-container {
    padding-top: 2vh;
}
.form-input {
    padding-top: 3vh;
}

.form-lower-text {
    padding-top: 5vh;
}

.login-form {
    margin-top: 5vh;
}