{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="mb-4"># Bajarūnas Clothing</h2>
    <p>Bajarūnas Clothing is a brand that offers stylish clothing for men and woman. 
    The clothes are high quality, have great colors and are custom made for people to fit perfectly.
    The clothing models in this shop are (UFC fighter Israel Adesanya, Dancers Les Twins, Artist Park Hye Jin...)
    </p>

    <div class="card mb-3">
      <img class="card-img-top" src="{% static 'images/home/horizontal.jpg' %}" alt="Horizontal Image">
      <div class="card-body">
        <h5 class="card-title">New York</h5>
        <p class="card-text">The styles were created in New York, and established in Lithuania.</p>
      </div>
    </div>
{% endblock %}